.gitignore.swp
.metadata/
Alfresco3.4.13/
DOD_5015_Alfresco_PROJECT_AMP_NATIVE.3.4.8/
DOD_5015_Share_PROJECT_AMP_NATIVE.3.4.8/
RemoteSystemsTempFiles/
Resignatura/
SDK AlfrescoEmbedded/
SDK AlfrescoRemote/
Universitat_Lleida/
Universitat_Lleida_Arxiu_Fisic_AMP/
V3.4.13/
alfresco-enterprise-sdk-3.4.13/
Universitat_Lleida_Alfresco_AMP/bin/
Universitat_Lleida_Share_AMP/bin/
Universitat_Lleida_Alfresco_AMP/build/
Universitat_Lleida_Share_AMP/build/
*.class
Universitat_de_Lleida-ent34.lic.installed*
Universitat_Lleida_Alfresco_AMP/config/alfresco/templates/webscripts/udl/provesCatalegServeis.html
