#Target of this file must be declarated in build.properties of this project
env=production
#Activate or no webscript window debug ('on' or 'off')
debugWebscript=on

#Path and name of your share.log
log4jfile.share=share.log
