#Target of this file must be declarated in build.properties of this project
env=inte

#Activate or no webscript window debug ('on' or 'off')
debugWebscript=off

#Path and name of your alfresco.log
log4jfile.alfresco=alfresco.log